applications/flows/TestFlowLabel1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>bvcbvbn</name>
        <label>bvcb</label>
        <locationX>657</locationX>
        <locationY>248</locationY>
        <actionName>NewAccount</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>TestFlow1</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>bvcb</description>
        <name>bvcbcvb</name>
        <label>bvc</label>
        <locationX>323</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>TestFlow1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TestFlow1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bvcbvbn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>nbvnvb</description>
        <name>vbvcbbvcb</name>
        <label>vbvcb</label>
        <locationX>866</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>flowt1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bvcbvbn</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>bvc</description>
        <name>ccxb</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </constants>
    <description>Tests</description>
    <interviewLabel>TestFlowLabel1 {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>TestFlowLabel1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>test1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>test1</name>
        <label>test1</label>
        <locationX>169</locationX>
        <locationY>285</locationY>
        <connector>
            <targetReference>bvcbcvb</targetReference>
        </connector>
        <flowName>Pradeep</flowName>
    </subflows>
    <variables>
        <description>vbvn</description>
        <name>flowt1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$System.OriginDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>Ft1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <description>terst</description>
        <name>TestFlow1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
